{% load static %}
{% load contact_count %}
{% load notes_count %}
{% load files_count %}
{% load tags_count %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/helper.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{% block title %}PH by Team #2 🤙🏽{% endblock %}</title>
</head>
<body>
<nav>
    {% include 'inc/_navbar.html' %}
</nav>
{% if user.is_authenticated %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3 mt-3">

            <a href="{% url 'news' %}" class="list-group-item list-group-item-action" onmouseover="activeNews(this)"
               onmouseout="normalNews(this)">📰 News</a>
            <div class="dropright">
                <button type="button" id="contacts"
                        class="list-group-item list-group-item-action dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false" onmouseover="activeNav(this)"
                        onmouseout="normalNav(this)">
                    👥 Contacts
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center dropstart-menu"
                           href="{% url 'contact_list' %}">Contact book <span class="badge bg-info rounded-pill">{% count_contact %}</span></a>
                    </li>
                    <li><a class="list-group-item list-group-item-action"
                           href="{% url 'create_contact' %}">Create new contact</a></li>
                </ul>
            </div>


            <div class="dropright">
                <button type="button" id="notes" class="list-group-item list-group-item-action dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false" onmouseover="activeNav(this)"
                        onmouseout="normalNav(this)">
                    📒 Notes
                </button>
                <ul class="dropdown-menu">
                    <li><a class="list-group-item list-group-item-action dropstart-menu"
                           href="{% url 'notes_list' %}">Notes book <span class="badge bg-info rounded-pill">{% count_notes %}</span></a>
                    </li>
                    <li><a class="list-group-item list-group-item-action dropstart-menu"
                           href="{% url 'tags' %}">Tags <span class="badge bg-info rounded-pill">{% count_tags %}</span></a>
                    </li>
                    <li><a class="list-group-item list-group-item-action dropstart-menu"
                           href="{% url 'create_note' %}">Create new note</a></li>
                    <li><a class="list-group-item list-group-item-action dropstart-menu"
                           href="{% url 'create_tag' %}">Create new tag</a></li>
                </ul>
            </div>

            <div class="dropright">
                <button type="button" id="files" class="list-group-item list-group-item-action dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false" onmouseover="activeNav(this)"
                        onmouseout="normalNav(this)">
                    📁 Files
                </button>
                <ul class="dropdown-menu">
                    <li><a class="list-group-item list-group-item-action dropstart-menu"
                           href="{% url 'files' %}">Files <span
                            class="badge bg-info rounded-pill">{% count_files %}</span></a></li>
                    <li><a class="list-group-item list-group-item-action dropstart-menu"
                           href="{% url 'upload_file' %}">Add new file</a></li>
                </ul>
            </div>
            {% include 'inc/_notification.html' %}
        </div>


        <div class="col-md-9">
            {% block content %}
            {% endblock %}
        </div>

    </div>
</div>
{% else %}


{% block start %}
{% endblock %}

{% endif %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
<footer class="text-center text-lg-start bg-light text-muted">
    <div id="footer" class="text-center p-4">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="#">Team2-Helper</a>
    </div>
</footer>
</html>